<head>
    <title>Minesweeper</title>
    <script type="module">
        import {startMineSweeper} from './minesweeper.js';
        startMineSweeper();
    </script>
    <style>
        .grid-row {
            border-top: 3px solid black;
            height: 30px;
            display: inline-flex;
        }

        .grid-cell {
            border-right: 3px solid black;
            width: 30px;
            height: 100%;
            background: gray;
        }

        .grid-row > :nth-child(1) {
            border-left: 3px solid black;
        }


        .grid-cell.grid-cell-bomb {
            background: red;
        }

        .grid-cell.grid-cell-blank {
            background: white;
        }

        .grid-cell.grid-cell-flag {
            background: blue;
        }

        .grid-area > :last-child {
            border-bottom: 3px solid black;
        }

        
    </style>
    <div class="info">
        <p>Number of Bombs Left: <span class="bombNumberArea"></span></p>
    </div>
    <div class="grid-area"></div>
</head>